:root {
    --primary: #2563eb;
    --secondary: #4f46e5;
    --accent: #8b5cf6;
    --background: #ffffff;
    --surface: #f3f4f6;
    --text: #1f2937;
    --text-light: #6b7280;
}

[data-theme="dark"] {
    --primary: #3b82f6;
    --secondary: #6366f1;
    --accent: #a78bfa;
    --background: #1f2937;
    --surface: #374151;
    --text: #f3f4f6;
    --text-light: #9ca3af;
}

/* Reset default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--text);
}

body {
    font-family: "Courier New", Courier, monospace;
    line-height: 1.6;
    color: var(--text);
    background-color: var(--background);
    padding-top: 6rem;
}

/* Header and Navigation */
header {
    background-color: var(--surface);
    box-shadow: 0 2px 5px rgba(var(--text), 0.2);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    position: relative;
    background-color: var(--surface);
}

a {
    text-decoration: none;

    &:hover {
        color: var(--accent);

        * {
            color: var(--accent);
            fill: var(--accent);
        }
    }
}

.logo > a {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 18pt;
    column-gap: 1ch;
    cursor: pointer;
}

.hamburger {
     display: block;
     background: none;
     border: none;
     cursor: pointer;
     padding: 0;
     width: 30px;
     height: 24px;
     position: relative;
     z-index: 1001;


    .hamburger-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: var(--text);
        margin: 5px 0;
        transition: transform 0.3s ease-in-out;
    }

    /* Hamburger Animation */
    &.active .hamburger-line:nth-child(1) {
        transform: rotate(45deg) translate(5px, 5px);
    }

    &.active .hamburger-line:nth-child(2) {
        opacity: 0;
    }

    &.active .hamburger-line:nth-child(3) {
        transform: rotate(-45deg) translate(5px, -5px);
    }

}

.nav-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    padding: 1rem;
    row-gap: .5rem;
    width: 100%;
    background-color: var(--surface);
    z-index: -1;
    font-size: 16pt;

    &.active {
        transform: translateY(0);
    }
}