:root {
    --base: #ffffff;
    --text: #000000;
    --white: #ffffff;
    --black: #000000;
    --blue: #188fa7;
    --grey: #736372;
    --orange: #f96900;

    @media (prefers-color-scheme: dark) {
        --base: #000000;
        --text: #ffffff;
    }
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    background-color: var(--base);
    padding: 0;
    min-height: 100dvh;
    color: var(--text);
    font-size: 14px;
    line-height: 1.5em;
    font-family: monospace;
}

header,
footer {
    text-align: center;
}

header,
main,
footer {
    margin: 0 auto;
    padding: 1em;
    width: 100%;
    max-width: 21cm;
}

section {
    border-bottom: 4px solid var(--blue);
    padding-bottom: 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 2em 0 0.5em 0;
    padding: 0;
    color: var(--text);
    font-weight: bold;
    line-height: 1.2;
}

h1 {
    color: var(--orange);
}

a {
    padding: 0.2em 0;
    color: var(--blue);
    font-weight: bold;
    white-space: nowrap;

    &::before {
        content: "[ ";
    }

    &::after {
        content: " ]";
    }

    &:hover {
        background-color: var(--blue);
        color: var(--white);
    }
}

table {
    margin: 2em 0 4em 0;
    border: 2px solid var(--orange);
    width: 100%;

    th {
        width: 13ch;
    }

    th,
    td {
        border: 2px solid var(--orange);
        padding: 0.5em 2ch 0.2em 1ch;
        text-align: left;
        white-space: normal;
    }
}

code {
    border: 0.1em dashed var(--blue);
    background-color: var(--grey);
    padding: 0.2em 1ch;
    color: var(--white);
}

blockquote {
    border: 0.1em dashed var(--orange);
    background-color: var(--grey);
    padding: 1em 2ch;
    color: var(--white);
}

header {
    display: flex;
    position: relative;
    column-gap: 4em;
    row-gap: 1em;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: center;
    align-items: end;
    z-index: 0;
    background: none;
    padding-bottom: 4em;

    &::before {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
        background: var(--blue);
        width: 100%;
        height: 45%;
        content: "";
    }

    h1 {
        margin: 0;
        color: var(--base);
        font-size: min(3em, 10dvw);
    }

    img {
        border: 8px solid var(--base);
        background-color: var(--base);
        padding: 0;
        max-height: 20em;
    }
}

.code-list {
    display: flex;
    column-gap: 1ch;
    row-gap: 0.2em;
    flex-direction: row;
    flex-wrap: wrap;
}
