/* Theme Variables */
:root {
    --primary: #2563eb;
    --secondary: #4f46e5;
    --accent: #8b5cf6;
    --background: #ffffff;
    --surface: #f3f4f6;
    --text: #1f2937;
    --text-light: #6b7280;
}

[data-theme="dark"] {
    --primary: #3b82f6;
    --secondary: #6366f1;
    --accent: #a78bfa;
    --background: #1f2937;
    --surface: #374151;
    --text: #f3f4f6;
    --text-light: #9ca3af;
}

/* Reset Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Courier New", Courier, monospace;
    color: var(--text);
}

/* Layout */
body {
    line-height: 1.5;
    color: var(--text);
    background-color: var(--background);
    font-size: 14pt;
}

/* Layout Components */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    .banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1ch;
        background-color: var(--surface);
        z-index: 1;

        .logo {
            height: 48px;
        }

        .hamburger {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0;
            width: 24px;

            .hamburger-line {
                display: block;
                width: 100%;
                height: 3px;
                background-color: var(--text);
                margin: 4px 0;
                transition: transform 0.3s ease-in-out;
            }

            /* Hamburger Animation */

            &.active .hamburger-line:nth-child(1) {
                transform: rotate(45deg) translate(5px, 5px);
            }

            &.active .hamburger-line:nth-child(2) {
                opacity: 0;
            }

            &.active .hamburger-line:nth-child(3) {
                transform: rotate(-45deg) translate(5px, -5px);
            }
        }
    }


    nav {
        display: flex;
        flex-direction: column;
        font-size: 1.2rem;
        position: absolute;
        padding: 1ch;
        background-color: var(--surface);
        width: 100%;
        transform: translateY(-100%);
        transition: transform 0.3s ease-in-out;
        z-index: -1;
        row-gap: 8px;

        &.active {
            transform: translateY(0);
        }

        > a {
            padding: .5ch;
            text-decoration: none;
            font-weight: bold;
            border: 1px solid var(--text);

            :hover, :active {
                color: var(--primary);
            }
        }
    }

    @media (min-width: 768px) {
        .banner {
            padding: 1ch 2ch;

            .hamburger {
                display: none;
            }
        }

        nav {
            flex-direction: row;
            transform: none;
            justify-content: flex-end;
            padding: 0 2ch;
            column-gap: 2ch;

            > a {
                border: none;
                padding: 0;
            }
        }
    }
}

main {
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        padding: 1rem;
    }
}


footer {
    display: flex;
    bottom: 0;
    width: 100%;
    background-color: var(--surface);
}