:root {
  --blue: #4271ae;
  --purple: #8959a8;
  --text: #4d4d4c;
  --base: #ffffff;

  @media (prefers-color-scheme: dark) {
    --blue: #81a2be;
    --purple: #b294bb;
    --text: #c5c8c6;
    --base: #1d1f21;
  }
}

body {
  margin: 2em auto;
  margin-bottom: 20vh;
  background-color: var(--base);
  padding: 0 18px;
  max-width: 120ch;
  color: var(--text);
  font-size: 18px;
  line-height: 1.4;
}

section {
  scroll-margin-top: 1em;
}

a {
  color: var(--blue);

  &:visited {
    color: var(--purple);
  }
}

details > summary {
  cursor: pointer;
}
