:root {
  --lightblue: #7aa6da;
  --blue: #8c9eff;
  --darkblue: #4271ae;
  --text: #4d4d4d;
  --subtext: #8e908c;
  --overlay: #eaeaea;
  --surface: #f5f5f5;
  --base: #ffffff;
  --crust: #ffffff;
  --error: #cc6666;

  --font-size: 16px;
  --line-height: 1.2rem;
  --nav-height: calc(var(--line-height) * 2);
  --shadow-blur: 0.5rem;

  @media screen and (min-width: 768px) {
    --font-size: clamp(0.75rem, 0.462vw + 0.63rem, 1rem);
  }
}

[data-theme='dark'] {
  --lightblue: #81a2be;
  --blue: #6699cc;
  --darkblue: #517195;
  --text: #c5c8c6;
  --subtext: #969896;
  --overlay: #373b41;
  --surface: #282a2e;
  --base: #1d1f21;
  --crust: #1d1f21;
  --error: #cc6666;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}

html,
body {
  position: relative;
  margin: 0 auto;
  overscroll-behavior: none;
  scroll-behavior: smooth;
  color: var(--text);
  font-size: var(--font-size);
  line-height: var(--line-height);
  font-family: system-ui;
}

html {
  background-color: var(--crust);
}

body {
  background-color: var(--base);
}

button {
  cursor: pointer;
  outline: none;
  border: 1px solid transparent;
  border-bottom: 5px solid transparent;
  background-color: transparent;
  padding: 0.2em 1ch;

  &:hover {
    border-right: 1px solid var(--darkblue);
    border-bottom: 5px solid var(--darkblue);
    border-left: 1px solid var(--darkblue);
  }

  &:active {
    border-top: 5px solid var(--darkblue);
    border-bottom: none;
  }
}

code {
  border: 1px solid var(--darkblue);
  background-color: var(--overlay);
  padding: 0.2em 1ch;
  line-height: 1;
  font-family: monospace;
}

svg {
  font-size: var(--line-height);
}

img {
  max-width: 70dvw;
  max-height: min(40vh, 500px);
  object-fit: contain;
}

h1 {
  color: var(--blue);
}

h2,
h3 {
  color: var(--subtext);
}

h4,
h5,
h6 {
  color: var(--lightblue);
}

p {
  margin: 0.6rem 0;
}

.page {
  display: flex;
  row-gap: 2rem;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 2rem 2ch;
  width: 100%;
  max-width: 1280px;
  min-height: 50vh;
  scroll-margin-top: var(--nav-height);

  > * {
    width: 100%;
  }

  > h1 {
    margin-top: 1rem;
    font-size: 3em;
    line-height: 1;
    font-family: monospace;
    text-decoration: dotted underline var(--lightblue);
  }
}

.info-section {
  display: flex;
  row-gap: 1rem;
  flex-direction: column;

  h1 {
    margin-top: 1rem;
    color: var(--darkblue);
    font-size: 2.5em;
    line-height: 1;
  }

  h2 {
    font-weight: normal;
    font-size: 1.85em;
    line-height: 1.2;
  }

  h3 {
    font-weight: lighter;
    font-size: 1.75em;
    line-height: 2rem;
  }

  section > div {
    width: 100%;

    &:not(:last-of-type) {
      margin-bottom: 3rem;
    }
  }

  ul {
    margin: 0.5em 0;
    padding-left: 1.5em;

    li {
      margin: 0.2em 0;
      list-style-type: circle;
    }
  }
}
