:root {
    --lightblue: #40cdff;
    --blue: #0891f4;
    --darkblue: #0257a0;
    --text: #0a1221;
    --subtext: #2d4165;
    --overlay: #e6eeff;
    --surface: #f0f5ff;
    --base: #fafbff;
    --crust: #ffffff;
    --error: #ff4040;

    --font-size: clamp(1rem, 0.391vw + 0.813rem, 1.125rem);
    --line-height: clamp(1.463rem, -0.117vw + 1.556rem, 1.5rem);
    --nav-height: calc(var(--line-height) * 2);
    --shadow-blur: 10px;
}

[data-theme='dark'] {
    --lightblue: #60dafb;
    --blue: #0891f4;
    --darkblue: #0257a0;
    --text: #ffffff;
    --subtext: #b4c6ef;
    --overlay: #2d4165;
    --surface: #1a2333;
    --base: #0d151f;
    --crust: #050912;
    --error: #ff5555;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    position: relative;
    color: var(--text);
    margin: 0 auto;
    font-family: "Consolas", monospace;
    font-size: var(--font-size);
    overscroll-behavior-y: none;
    line-height: var(--line-height);
}

html {
    background-color: var(--crust);
}

body {
    background-color: var(--base);
}

button {
    background-color: transparent;
    border: 1px solid transparent;
    cursor: pointer;
    outline: none;
    padding: .2em 1ch;

    &:hover {
        border-left: 1px solid var(--darkblue);
        border-right: 1px solid var(--darkblue);
        border-bottom: 5px solid var(--darkblue);
    }

    &:active {
        border-top: 5px solid var(--darkblue);
        border-bottom: none;
    }
}

code {
    background-color: var(--overlay);
    border: 1px solid var(--darkblue);
    padding: .2em 1ch;
    line-height: 1;
}

svg {
    font-size: var(--line-height);
}

img {
    max-width: 70dvw;
    max-height: 40dvh;
    object-fit: contain;
}

h1 {
    color: var(--blue);
}

h2, h3 {
    color: var(--subtext);
}

h4, h5, h6 {
    color: var(--lightblue);
}

.page {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem 2ch;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
}
