:root {
  --bg: #1e1e1e;
  --fg: #d4d4d4;
  --selection: #264f78;
  --highlight: #2a2d2e;
  --cursor: #aeafad;
  --border: #3c3c3c;
  --shadow: rgba(0, 0, 0, 0.36);
}

:root[data-theme='light'] {
  --bg: #ffffff;
  --fg: #333333;
  --selection: #add6ff;
  --highlight: #f3f3f3;
  --cursor: #000000;
  --border: #e5e5e5;

  --shadow: rgba(0, 0, 0, 0.18);
}

:root {
  --pw: 18px;
}

html,
body {
  background-color: var(--bg);
  color: var(--fg);
}

::selection {
  background-color: var(--selection);
  color: var(--text);
}

::-moz-selection {
  background-color: var(--selection);
  color: var(--text);
}

a {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1ch;
  cursor: pointer;
  padding: 0.3em;
  color: var(--fg);
}

a:hover {
  background-color: var(--highlight);
}

a:active {
  background-color: var(--selection);
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0.3em;
  color: var(--text);
}

button:hover {
  background-color: var(--highlight);
}

button:active {
  background-color: var(--selection);
}

code {
  border: 1px solid var(--border);
  background-color: var(--highlight);
  padding: 0 1ch;
}

p,
li {
  max-width: 80ch;
}

p {
  text-align: justify;
}
