@font-face {
  font-family: 'Google Sans Code';
  src: url('../fonts/GoogleSansCode.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: 'Google Sans Code';
  src: url('../fonts/GoogleSansCodeItalic.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

* {
  font-family: 'Google Sans Code', monospace;
}
