@keyframes blink {
	50% {
		opacity: 0;
	}
}

input {
	position: fixed;
	top: -100px;
	display: none;
}

#input {
	bottom: 0;
	display: flex;
	flex-direction: row;
	position: sticky;

	/* Note: The 'prompt' and 'buffer' elements are copied into the output - thus, their css is held in the 'global.css' file */

	#textbox {
		display: inline-flex;
		position: relative;

		#caret {
			position: absolute;
			bottom: 0;
			height: 25%;
			width: 1ch;
			background-color: var(--code);
			animation: blink 750ms infinite step-end;

			&.paused {
				animation: none;
			}
		}
	}
}
