@keyframes blink {
	50% {
		opacity: 0;
	}
}

#input {
	display: flex;
	flex-direction: row;

	#prompt {
		display: inline-flex;
	}

	#textbox {
		/* Note: Given the Buffer is used in the input and output - it's a class that has it's own `.css` file. */

		display: inline-flex;
		position: relative;

		#caret {
			position: absolute;
			bottom: 0;
			height: 25%;
			width: 1ch;
			background-color: var(--code);
			animation: blink 750ms infinite step-end;
		}
	}
}
